<html lang="en">
    <body>
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                
                    <li id="buttonn"><a href="#">Log Out</a></li>
                </ul>
                <h1 class="logo"><fa-icon [icon]="filmIcon"></fa-icon>&nbsp;&nbsp;Online Library Management System</h1>
            </div>
        </nav>
        <hr id="line">
    </body>
</html>